In [1]:
import pandas as pd

In [41]:
vacinas = pd.read_csv('../dados_brutos/vacina_hepatite.csv', sep=';')

In [42]:
vacinas

      Ano  Hepatite A (HA)  Hepatite B (HB)      Total
0    1994                0          2297035    2297035
1    1995                0          2521993    2521993
2    1996                0          2989325    2989325
3    1997                0          2002570    2002570
4    1998                0          8747762    8747762
5    1999                0         23190333   23190333
6    2000               38         16638758   16638796
7    2001            41062         35206019   35247081
8    2002            58788         30906741   30965529
9    2003            68883         24266713   24335596
10   2004            85271         17948973   18034244
11   2005           100081         17102273   17202354
12   2006            99674         15137953   15237627
13   2007           124675         14951270   15075945
14   2008           157642         14809334   14966976
15   2009           180828         14431868   14612696
16   2010           157154         14671210   14828364
17   2011           199190         16694735   16893925
18   2012           234009         15762053   15996062
19   2013           265185         15802725   16067910
20   2014          1908581         15054976   16963557
21   2015          2946868         11981494   14928362
22   2016          2222008          7094381    9316389
23   2017          2812314          8862265   11674579
24   2018          2645982          8224064   10870046
25   2019          2704209          8133178   10837387
26   2020          2360309          5719464    8079773
27   2021           788820          1512200    2301020
28  Total         20161571        372661665  392823236

In [43]:
vacinas = vacinas.drop(columns=[' Total'], index=[0,1,2,3,4,5,6,27,26,28])
vacinas = vacinas.rename(columns={'Hepatite A (HA)':'A', 'Hepatite B (HB)':'B'})
vacinas

     Ano        A         B
7   2001    41062  35206019
8   2002    58788  30906741
9   2003    68883  24266713
10  2004    85271  17948973
11  2005   100081  17102273
12  2006    99674  15137953
13  2007   124675  14951270
14  2008   157642  14809334
15  2009   180828  14431868
16  2010   157154  14671210
17  2011   199190  16694735
18  2012   234009  15762053
19  2013   265185  15802725
20  2014  1908581  15054976
21  2015  2946868  11981494
22  2016  2222008   7094381
23  2017  2812314   8862265
24  2018  2645982   8224064
25  2019  2704209   8133178

In [45]:
vacinas = pd.melt(vacinas, 'Ano', var_name='Classe_viral', value_name='Vacinas')
vacinas

     Ano Classe_viral   Vacinas
0   2001            A     41062
1   2002            A     58788
2   2003            A     68883
3   2004            A     85271
4   2005            A    100081
5   2006            A     99674
6   2007            A    124675
7   2008            A    157642
8   2009            A    180828
9   2010            A    157154
10  2011            A    199190
11  2012            A    234009
12  2013            A    265185
13  2014            A   1908581
14  2015            A   2946868
15  2016            A   2222008
16  2017            A   2812314
17  2018            A   2645982
18  2019            A   2704209
19  2001            B  35206019
20  2002            B  30906741
21  2003            B  24266713
22  2004            B  17948973
23  2005            B  17102273
24  2006            B  15137953
25  2007            B  14951270
26  2008            B  14809334
27  2009            B  14431868
28  2010            B  14671210
29  2011            B  16694735
30  2012            B  15762053
31  2013            B  15802725
32  2014            B  15054976
33  2015            B  11981494
34  2016            B   7094381
35  2017            B   8862265
36  2018            B   8224064
37  2019            B   8133178

In [46]:
vacinas.to_csv('../dados_limpos/vacinas_hep')