# Tratamento dos dados relacionados aos casos e óbitos de Hepatite no brasil

## Importações dos pacotes

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from funcoes import limpa_casos_h, limpa_obitos

## Bases de dados utilizadas

[MonitoramentoHepatites-Brasil.xls](https://github.com/Pedro-correa-almeida/projeto_um_mal_silencioso/blob/main/dados_brutos/MonitoramentoHepatites-Brasil.xls) : arquivo xls com diversas tabelas relacionados aos dados de casos e óbitos de Hepatite no Brasil entre 2007 e 2019<br>
[casos_hepatite_2001-2006_brasil.csv](https://github.com/Pedro-correa-almeida/projeto_um_mal_silencioso/blob/main/dados_brutos/casos_hepatite_2001-2006_brasil.csv) : arquivo csv com dados de casos de Hepatite entre 2001 e 2006<br>
[serie_2001_2020_TCU_populacao.xls](https://github.com/Pedro-correa-almeida/projeto_um_mal_silencioso/blob/main/dados_brutos/serie_2001_2020_TCU_populacao.xls) : arquivo xls com dados com dados da estimativa da população brasileira feita pelo IBGE entre 2001 e 2020<br>

## Leitura dos dados

In [2]:
#Lendo os dados de casos e óbitos Hepatite A, B e C entre 2007 e 2019 
dados_recentes = pd.read_html('../dados_brutos/MonitoramentoHepatites-Brasil.xls', thousands='.')

#Lendo os dados de casos e óbitos de Hepatite A, B e C entre 2001 e 2006
dados_antigos = pd.read_csv('../dados_brutos/casos_hepatite_2001-2006_brasil.csv', encoding='ISO-8859-1', skiprows=4, 
                            skipfooter=13, usecols=[0,1,2,3], sep=';', engine='python')

#Lendo os dados de estimativa populacional feita pelo IBGE e limitando os dados entre 2001 e 2020 e só dados da população do Brasil inteiro
pop_2001_2019 = pd.read_excel('../dados_brutos/serie_2001_2020_TCU_populacao.xls', skiprows=4, index_col=0, 
                              nrows=2, usecols=range(0,20))

## Funções

In [3]:
help(limpa_casos_h)

Help on function limpa_casos_h in module funcoes:

limpa_casos_h(dados: pandas.core.frame.DataFrame, hep: str)
    Função que recebe um dataset com dados sobre casos relacionado à um tipo de hepatite e realiza algumas transformações:

        Retira as colunas que agrupam diversos anos, coluna 'Total' e coluna '1999-2006'
        Retira a segunda linha do dataframe que se refere à taxa de incidência e, primeiramente serão usados apenas os dados de casos totais para juntar os dados recentes e mais antigos
        Transforma a disposição da tabela, transformando as colunas em apenas uma coluna('Ano') atribuindo o vírus da hepatite(A,B,C) como nome da coluna de valores numéricos
        Retira a primeira linha que antes se referia ao nome da variável numérica('Casos')
        Transforma o tipo de dados da coluna 'Ano' em inteiro e a coluna com os dados numéricos para float(podem haver valores nulos) para depois facilitar a manipulação e evitar problemas

    Parâmetros:

        dados : DataFrame onde estão os dados mais recentes dos casos de hepatite, tipo : pd.DataFrame
        hep : o vírus da hepatite que o DataFrame se refere, tipo : str

    Retorno:

        dados : DataFrame com todas as limpezas realizadas, tipo : pd.DataFrame

In [4]:
help(limpa_obitos)

Help on function limpa_obitos in module funcoes:

limpa_obitos(dados: pandas.core.frame.DataFrame, nome_valores: str)
    Função que recebe o DataFrame relacionado aos óbitos de cada virus e realiza algumas transformações:

        Retira as colunas que agrupam diversos anos, coluna 'Total' e coluna '2000-2006'
        Retira a palavra 'Hepatite' antes do vírus(A,B,C)
        Renomeia a coluna Óbitos por virus
        Retira os dados relacionados à Hepatite D
        Transforma as colunas relacionadas aos Anos em apenas uma coluna('Ano') e atribui o 'nome_valores' como nome da coluna com os valores numéricos
        Trasnforma o tipo de dados da coluna 'Ano' em inteiro e a coluna com os dados numéricos para float(podem haver valores nulos) a fim de evitar problemas e facilitar a manipulação

    Parâmetros:

        dados : DataFrame onde estão os dados mais recentes dos óbitos de hepatite, tipo : pd.DataFrame
        hep : o nome que a coluna com os valores numéricos vai se referir, podendo ser a região do DataFrame ou a palavra 'Obitos' por exemplo, tipo : str

    Retorno :

        dados : retorna um Dataframe com os dados sobre os óbitos de hepatite A, B e C, tipo : pd.DataFrame

## Tratando os dados

No primeiro momento vou ler as tabelas dos dados recentes que seram utilizadas na análise, a tabela sobre casos da Hepatite A, B e C, e a tabela com os óbitos totais por Hepatite

In [5]:
#Lendo os dados relacionados à Hepatite A
hep_A = dados_recentes[1]

#Lendo os dados relacionados à Hepatite B
hep_B = dados_recentes[3]

#Lendo os dados relacionados à Hepatite C
hep_C = dados_recentes[5]

#Lendo os dados relacionados aos óbitos por Hepatite
hep_obitos = dados_recentes[10]

Submetendo as tabelas relacionadas aos casos de Hepatite para função 'limpa_casos_h' a fim de fazer as devidas transformações, após isso juntando as 3 tabelas relacionadas às Hepatites em apenas uma tabela 'hep'

In [6]:
#Limpando os DataFrames
hep_A = limpa_casos_h(hep_A, 'A')
hep_B = limpa_casos_h(hep_B, 'B')
hep_C = limpa_casos_h(hep_C, 'C')

#Juntando os 3 DataFrames
hep = pd.merge(hep_A,pd.merge(hep_B, hep_C))
hep

     Ano        A        B        C
0   2007  13351.0  12406.0  17173.0
1   2008  11680.0  13400.0  20110.0
2   2009  10920.0  15004.0  21854.0
3   2010   6929.0  13711.0  21066.0
4   2011   7468.0  16683.0  24231.0
5   2012   6628.0  16286.0  25450.0
6   2013   6270.0  16720.0  25401.0
7   2014   6424.0  16743.0  24124.0
8   2015   3302.0  16149.0  26946.0
9   2016   1207.0  14829.0  28732.0
10  2017   2137.0  14251.0  25937.0
11  2018   2188.0  14686.0  27773.0
12  2019    891.0  13971.0  22747.0

Fazendo as devidas transformações na base de dados entre 2001 e 2006 para juntar com os dados mais recentes

In [7]:
#Renomeando os nomes das colunas
dados_antigos = dados_antigos.rename(columns={'Ano Diag/sintomas':'Ano', 'Vírus A':'A', 'Vírus B':'B', 'Vírus C':'C'})

#Ordenando as colunas pra mesma ordem dos dados recentes
dados_antigos = dados_antigos[['Ano', 'A', 'B', 'C']]

#Transformando o tipo de dados da coluna 'Ano' para inteiro
dados_antigos['Ano'] = dados_antigos['Ano'].astype('int64')

#Mostrando as 5 primeiras linhas 
dados_antigos.head()

    Ano      A      B      C
0  2001  21011   8344   6713
1  2002  14468   8841   8081
2  2003  14715  11673  10241
3  2004  20585  12835  13285
4  2005  25302  14107  13702

In [8]:
#Juntando os dados antigos com os dados recentes
dados = dados_antigos.append(hep)

#Transformando as colunas A, B e C para uma coluna virus
dados = pd.melt(dados, 'Ano', var_name='virus', value_name='Casos')

dados

     Ano virus    Casos
0   2001     A  21011.0
1   2002     A  14468.0
2   2003     A  14715.0
3   2004     A  20585.0
4   2005     A  25302.0
5   2006     A  19095.0
6   2007     A  13351.0
7   2008     A  11680.0
8   2009     A  10920.0
9   2010     A   6929.0
10  2011     A   7468.0
11  2012     A   6628.0
12  2013     A   6270.0
13  2014     A   6424.0
14  2015     A   3302.0
15  2016     A   1207.0
16  2017     A   2137.0
17  2018     A   2188.0
18  2019     A    891.0
19  2001     B   8344.0
20  2002     B   8841.0
21  2003     B  11673.0
22  2004     B  12835.0
23  2005     B  14107.0
24  2006     B  11330.0
25  2007     B  12406.0
26  2008     B  13400.0
27  2009     B  15004.0
28  2010     B  13711.0
29  2011     B  16683.0
30  2012     B  16286.0
31  2013     B  16720.0
32  2014     B  16743.0
33  2015     B  16149.0
34  2016     B  14829.0
35  2017     B  14251.0
36  2018     B  14686.0
37  2019     B  13971.0
38  2001     C   6713.0
39  2002     C   8081.0
40  2003     C  10241.0
41  2004     C  13285.0
42  2005     C  13702.0
43  2006     C  10319.0
44  2007     C  17173.0
45  2008     C  20110.0
46  2009     C  21854.0
47  2010     C  21066.0
48  2011     C  24231.0
49  2012     C  25450.0
50  2013     C  25401.0
51  2014     C  24124.0
52  2015     C  26946.0
53  2016     C  28732.0
54  2017     C  25937.0
55  2018     C  27773.0
56  2019     C  22747.0

In [9]:
#Utilizando a função 'limpa_obitos' para realizar as trasnformações necessárias
hep_obitos = limpa_obitos(hep_obitos, 'Obitos')

#Juntando os dados de casos e de óbitos
dados = pd.merge(dados, hep_obitos, on=['Ano', 'virus'], how='left')

dados

     Ano virus    Casos  Obitos
0   2001     A  21011.0     NaN
1   2002     A  14468.0     NaN
2   2003     A  14715.0     NaN
3   2004     A  20585.0     NaN
4   2005     A  25302.0     NaN
5   2006     A  19095.0     NaN
6   2007     A  13351.0    47.0
7   2008     A  11680.0    50.0
8   2009     A  10920.0    45.0
9   2010     A   6929.0    52.0
10  2011     A   7468.0    30.0
11  2012     A   6628.0    38.0
12  2013     A   6270.0    35.0
13  2014     A   6424.0    29.0
14  2015     A   3302.0    24.0
15  2016     A   1207.0    29.0
16  2017     A   2137.0    22.0
17  2018     A   2188.0    28.0
18  2019     A    891.0     NaN
19  2001     B   8344.0     NaN
20  2002     B   8841.0     NaN
21  2003     B  11673.0     NaN
22  2004     B  12835.0     NaN
23  2005     B  14107.0     NaN
24  2006     B  11330.0     NaN
25  2007     B  12406.0   515.0
26  2008     B  13400.0   566.0
27  2009     B  15004.0   482.0
28  2010     B  13711.0   549.0
29  2011     B  16683.0   538.0
30  2012     B  16286.0   443.0
31  2013     B  16720.0   456.0
32  2014     B  16743.0   469.0
33  2015     B  16149.0   451.0
34  2016     B  14829.0   477.0
35  2017     B  14251.0   414.0
36  2018     B  14686.0   424.0
37  2019     B  13971.0     NaN
38  2001     C   6713.0     NaN
39  2002     C   8081.0     NaN
40  2003     C  10241.0     NaN
41  2004     C  13285.0     NaN
42  2005     C  13702.0     NaN
43  2006     C  10319.0     NaN
44  2007     C  17173.0  1800.0
45  2008     C  20110.0  1898.0
46  2009     C  21854.0  1879.0
47  2010     C  21066.0  1967.0
48  2011     C  24231.0  2012.0
49  2012     C  25450.0  2032.0
50  2013     C  25401.0  2013.0
51  2014     C  24124.0  2087.0
52  2015     C  26946.0  2028.0
53  2016     C  28732.0  2023.0
54  2017     C  25937.0  1720.0
55  2018     C  27773.0  1574.0
56  2019     C  22747.0     NaN

In [10]:
#Reitando colunas nulas na base de dados de população
pop_2001_2019 = pop_2001_2019.dropna()

#Transformando as colunas relacionadas aos anos em uma coluna 'Ano'
pop_2001_2019 = pd.melt(pop_2001_2019, var_name='Ano', value_name='Pop')

#Transformando o tipo da coluna 'Ano' em inteiro
pop_2001_2019['Ano'] = pop_2001_2019['Ano'].astype('int64')

pop_2001_2019

     Ano          Pop
0   2001  172385826.0
1   2002  174632960.0
2   2003  176871437.0
3   2004  181581024.0
4   2005  184184264.0
5   2006  186770562.0
6   2007  183989711.0
7   2008  189612814.0
8   2009  191480630.0
9   2010  190747855.0
10  2011  192379287.0
11  2012  193946886.0
12  2013  201032714.0
13  2014  202768562.0
14  2015  204450649.0
15  2016  206081432.0
16  2017  207660929.0
17  2018  208494900.0
18  2019  210147125.0

In [11]:
#Juntando os dados de casos e óbitos com de população com base na coluna 'Ano'
dados = pd.merge(dados, pop_2001_2019, on='Ano')

#Criando a coluna 'taxa_incid_por100k' representando a quantidade de casos por 100.000 habitantes
dados['taxa_incid_por100k'] = dados['Casos'] * 100000 / dados['Pop']

#Criando a coluna 'taxa_obitos_por100k' representando a quantidade de óbitos por 100.000 habitantes
dados['taxa_obitos_por100k'] = dados['Obitos'] * 100000 / dados['Pop']

dados

,Ano,virus,Casos,Obitos,Pop,taxa_incid_por100k,taxa_obitos_por100k
0,2001,A,21011.0,NaN,172385826.0,12.188357,NaN
1,2001,B,8344.0,NaN,172385826.0,4.840305,NaN
2,2001,C,6713.0,NaN,172385826.0,3.894172,NaN
3,2002,A,14468.0,NaN,174632960.0,8.284805,NaN
4,2002,B,8841.0,NaN,174632960.0,5.062618,NaN
5,2002,C,8081.0,NaN,174632960.0,4.627420,NaN
6,2003,A,14715.0,NaN,176871437.0,8.319602,NaN
7,2003,B,11673.0,NaN,176871437.0,6.599709,NaN
8,2003,C,10241.0,NaN,176871437.0,5.790081,NaN
9,2004,A,20585.0,NaN,181581024.0,11.336537,NaN
10,2004,B,12835.0,NaN,181581024.0,7.068470,NaN
11,2004,C,13285.0,NaN,181581024.0,7.316293,NaN
12,2005,A,25302.0,NaN,184184264.0,13.737330,NaN
13,2005,B,14107.0,NaN,184184264.0,7.659178,NaN
14,2005,C,13702.0,NaN,184184264.0,7.439289,NaN
15,2006,A,19095.0,NaN,186770562.0,10.223774,NaN
16,2006,B,11330.0,NaN,186770562.0,6.066266,NaN
17,2006,C,10319.0,NaN,186770562.0,5.524961,NaN
18,2007,A,13351.0,47.0,183989711.0,7.256384,0.025545
19,2007,B,12406.0,515.0,183989711.0,6.742768,0.279907
20,2007,C,17173.0,1800.0,183989711.0,9.333674,0.978316
21,2008,A,11680.0,50.0,189612814.0,6.159921,0.026370
22,2008,B,13400.0,566.0,189612814.0,7.067033,0.298503
23,2008,C,20110.0,1898.0,189612814.0,10.605823,1.000987
24,2009,A,10920.0,45.0,191480630.0,5.702927,0.023501
25,2009,B,15004.0,482.0,191480630.0,7.835780,0.251723
26,2009,C,21854.0,1879.0,191480630.0,11.413165,0.981300
27,2010,A,6929.0,52.0,190747855.0,3.632544,0.027261
28,2010,B,13711.0,549.0,190747855.0,7.188023,0.287815
29,2010,C,21066.0,1967.0,190747855.0,11.043899,1.031204
30,2011,A,7468.0,30.0,192379287.0,3.881915,0.015594
31,2011,B,16683.0,538.0,192379287.0,8.671932,0.279656
32,2011,C,24231.0,2012.0,192379287.0,12.595431,1.045851
33,2012,A,6628.0,38.0,193946886.0,3.417430,0.019593
34,2012,B,16286.0,443.0,193946886.0,8.397144,0.228413
35,2012,C,25450.0,2032.0,193946886.0,13.122149,1.047710
36,2013,A,6270.0,35.0,201032714.0,3.118895,0.017410
37,2013,B,16720.0,456.0,201032714.0,8.317054,0.226829
38,2013,C,25401.0,2013.0,201032714.0,12.635257,1.001330
39,2014,A,6424.0,29.0,202768562.0,3.168144,0.014302
40,2014,B,16743.0,469.0,202768562.0,8.257197,0.231298
41,2014,C,24124.0,2087.0,202768562.0,11.897308,1.029252
42,2015,A,3302.0,24.0,204450649.0,1.615060,0.011739
43,2015,B,16149.0,451.0,204450649.0,7.898728,0.220591
44,2015,C,26946.0,2028.0,204450649.0,13.179709,0.991926
45,2016,A,1207.0,29.0,206081432.0,0.585691,0.014072
46,2016,B,14829.0,477.0,206081432.0,7.195699,0.231462
47,2016,C,28732.0,2023.0,206081432.0,13.942062,0.981651
48,2017,A,2137.0,22.0,207660929.0,1.029081,0.010594
49,2017,B,14251.0,414.0,207660929.0,6.862629,0.199363
50,2017,C,25937.0,1720.0,207660929.0,12.490072,0.828273
51,2018,A,2188.0,28.0,208494900.0,1.049426,0.013430
52,2018,B,14686.0,424.0,208494900.0,7.043817,0.203362
53,2018,C,27773.0,1574.0,208494900.0,13.320710,0.754935
54,2019,A,891.0,NaN,210147125.0,0.423989,NaN
55,2019,B,13971.0,NaN,210147125.0,6.648199,NaN
56,2019,C,22747.0,NaN,210147125.0,10.824321,NaN

In [12]:
#Removendo coluna 'Pop' pois não será mais utilizada
dados = dados.drop(columns='Pop')

In [13]:
#Salvando os dados na pasta 'dados_tratados'
dados.set_index('Ano').to_csv('../dados_tratados/casos_obitos_hep')